@import 'variables';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import 'material-kit-pro/core/variables';
$background: #e82041;

#title {
  text-align: center;
  margin-bottom: 30px;
}

.slick-slider {
  width: 100%;
  max-width: 100%;
  border: 10px solid $background;
  border-radius: 10px;
  box-sizing: border-box;
  background: $background;

  h3 {
    position: absolute;
    padding: 10px 0 33px 0;
    width: 100%;
    bottom: 0;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    background: $background;
  }
}
.slick-dots {
  bottom: 0;
}

.slick-prev {
  left: 0;
  [dir='rtl'] & {
    right: 0;
  }
}

.slick-next {
  right: 0;
  [dir='rtl'] & {
    left: 0;
  }
}

button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  opacity: 0.8;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 1;
  }
  &::before {
    color: $background;
    opacity: 1;
    font-size: 30px;
  }
}

@media all and (min-width: map-get($grid-breakpoints, 'md')) {
  .slick-slider {
    width: 75%;
  }
  button.slick-arrow.slick-prev,
  button.slick-arrow.slick-next {
    &::before {
      font-size: 42px;
    }
  }
}
